button {
    color: #fff !important;
}

.authBlock {
    text-align: center;
    margin-top: 15px;
    h1 {
        text-align: center;
    }
}
.redirectToLogin {
    text-align: center;
}

a {
    color: rgb(0, 8, 255);
}