<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h1>Renouveller le mot de passe</h1>
        <p class="text-center">Veuillez saisir votre adresse e-mail pour demander une réinitialisation du mot de passe.</p>
        <form
        [formGroup]="loginForm">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" class="formControl" placeholder="Email"  #passwordResetEmail formControlName="email">
            <mat-error>Email invalide ou manquant.</mat-error>
          </mat-form-field>
          <!-- Calling ForgotPassword from AuthService Api -->
          <div class="formGroup">
            <button mat-raised-button color="primary" (click)="authService.ForgotPassword(passwordResetEmail.value)" [disabled]="loginForm.invalid">Envoyer le mot de passe</button>
          </div>
        </form>
      </div>
      <br />
      <div class="redirectToLogin">
        <span>Retourner à la <a class="redirect" routerLink="/sign-in">Connexion</a></span>
      </div>
    </div>
  </div>