<section>
    <ol>
        <li><b>Acceptation des CGU</b></li>
        L'accès et l'utilisation du service textme impliquent l'acceptation pleine et entière des présentes conditions générales d'utilisation. En cas de non-acceptation des CGU, l'utilisateur est invité à ne pas utiliser le service textme.
        <li><b>Modification des CGU</b></li>
        textme se réserve le droit de modifier à tout moment les présentes conditions générales d'utilisation. Les modifications entreront en vigueur dès leur publication sur le site de textme. L'utilisateur est invité à consulter régulièrement les CGU afin de prendre connaissance de toute modification.
        <li><b>Description du service</b></li>
        textme est une entreprise de vente d'articles rédigés de manière automatique. L'utilisateur peut acheter ces articles en ligne, sur le site de textme.
        <li><b>Tarifs</b></li>
        Les tarifs des articles proposés par textme sont indiqués en ligne, sur le site de l'entreprise. Ils sont exprimés en euros et incluent la TVA. textme se réserve le droit de modifier ses tarifs à tout moment et sans préavis.
        <li><b>Paiement</b></li>
        Le paiement des articles achetés sur le site de textme s'effectue en ligne, par carte bancaire. Le paiement est sécurisé et les données bancaires de l'utilisateur ne sont pas conservées par textme.
        <li><b>Livraison</b></li>
        Les articles achetés sur le site de textme sont livrés par voie électronique, retrouvable sur le compte de l'utilisateur.
        <li><b>Propriété intellectuelle</b></li>
        Les articles vendus par textme sont protégés par le droit de la propriété intellectuelle. L'utilisateur s'engage à ne pas reproduire, diffuser, vendre, publier ou exploiter de quelque manière que ce soit ces articles sans l'autorisation expresse de textme.
        <li><b>Responsabilité</b></li>
        textme ne peut être tenue responsable des dommages indirects, tels que la perte de profits ou de clientèle, résultant de l'utilisation du service. textme ne garantit pas l'exactitude, l'exhaustivité ou l'actualité des informations contenues dans les articles vendus.
        <li><b>Loi applicable et juridiction compétente</b></li>
        Les présentes conditions générales d'utilisation sont régies et interprétées conformément aux lois de la République française. En cas de litige, les tribunaux de Paris seront compétents.
        <li><b>Contact</b></li>
        Pour toute question ou réclamation relative au service textme, l'utilisateur peut contacter l'entreprise par email à l'adresse suivante : contact@textme.com ou directement sur le site.
    </ol>
</section>