:root {
  // PRIMARY
  --mat-primary: #464646;
  --mat-primary-mlight: #4ccb4cb7;
  --mat-primary-light: #D6D6D6;
  --mat-primary-xlight: #8ae58a38;
  --mat-primary-dark: #D6D6D6;
  // ACCENT
  --mat-accent: #ED6161;
  --mat-accent-light: rgb(184, 168, 249);
  --mat-accent-dark: rgb(96, 15, 171);
  // OTHER
  --mat-commentary-grey: rgb(80, 80, 80);
  // BLUE
  --mat-blue: #0029FF;
}
